*.o
*.exe
*.dll
*.lib
*.sh
*.bat
*.ps1
buildVS/
build/
temp/
lib/
.vscode/
.git/
.cache/
main.cpp~
raylibODE.cpp~
main.c~
src/.cache/
Makefile~
*.json
*.json*
CMakeLists.txt~
raylibODE.h~
rlights.h~
ode_download/
